.profileContainer {
  display: flex;
  justify-content: center;
}

.userBox {
  width: 80%;
  height: 200px;
  border: .5px solid lightgrey;
  margin: 20px;
  display: flex;
  align-items: center;
}

.userImageCont {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userImage {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background: #f0f0f0;
}

.userInfo {
  flex: 1;
  line-height: 2.5em;
}

.userName {
  font-size: 35px;
  font-weight: bold;
}

.userDescription {
  font-size: 20px;
}